div:hover {
    border: 10px solid black;
}
div:nth-of-type(1) {
    background-color: blue;
}
div:nth-of-type(2) {
    background-color: red;
}
div:nth-of-type(3) {
    background-color: green;
}
div:nth-of-type(4) {
    background-color: brown;
}
div:nth-of-type(5) {
    background-color: aqua;
}

div:nth-of-type(1) > h3 {
    color: white;
}

div:nth-last-of-type(2) > h3 {
    color: white;
    font-style: italic;
}

div:nth-last-of-type(3) > h3 {
    font-style: normal;
}
div:nth-last-of-type(4) > h3 {
    color: blue;
}
div:nth-last-of-type(5) > h3 {
    font-style:oblique;
    font-size: 30px;
}

div:nth-last-of-type(3) {
    font-size: 50px;
}
div:nth-child(odd) h3 {
    font-style: italic;
 }